/compiled-images/.deps/%.Po
/compiled-images/.deps/goal.Po
/compiled-images/.deps/start.Po
*.cmaze
/compiled-images/.deps/acid.Po
/compiled-images/.deps/key.Po
*.[oa]
*~
*.exe
*.slo
*.lo
*.so
*.dylib
*.lai
*.la
*.a
*.lib
*.dll
*.so.*
*.out
*.app
*.layout
*.dirstamp
*.bak
autom4te.cache/
Makefile
config.log
config.status
src/.deps/
cybrinth
how to use git
