Source: cybrinth
Section: unknown
Priority: optional
Maintainer: James Dearing <dearingj@lifetime.oregonstate.edu>
Build-Depends: debhelper (>= 4.1.16), gimp, pkg-config, libfreetype6-dev, libtag1-dev, libsdl2-mixer-dev, libirrlicht-dev, libboost-filesystem-dev, automake, autoconf-archive
Standards-Version: 3.9.6
Homepage: https://github.com/TheOpenSourceNinja/Cybrinth

Package: cybrinth
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Maze game
 Cybrinth is a two-dimensional retro-inspired maze game for zero or more players.
