#!/usr/bin/make -f

build: build-arch build-indep

build-arch:
	dh_auto_configure
	dh_auto_build

build-indep:

binary: binary-arch binary-indep

binary-arch: build
	dh_auto_install
	dh_builddeb

binary-indep: build

clean:
	dh_auto_clean